.form-control {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
}
.form-control input {
  padding: 0.65rem;
  height: 30px;
  width: 60%;
  margin: 2rem 0;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 28px;
}
.form-control input::placeholder {
  font-family: inherit;
  font-size: 1rem;
}
.form-control button {
  width: 180px;
  height: 50px;
  position: absolute;
  left: 66%;
  background: var(--neutral-color);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: inherit;
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
