.book-list {
  width: 100vw;
  margin: auto 2rem;
}
.book-list ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .book-list ul {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: stretch;
  }
}
